<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if page.image.feature or page.locations %}<header class="masthead">
	{% if site.logo != null %}

		<div class="wrap">
    {% if page.categories contains "england" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/england-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "scotland" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/scotland-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "france" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/france-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
        {% elsif page.categories contains "switzerland" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/switzerland-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "italy" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/italy-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% elsif site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
       {% if page.categories contains "england" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/england-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "scotland" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/scotland-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "france" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/france-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
        {% elsif page.categories contains "switzerland" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/switzerland-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
       {% elsif page.categories contains "italy" %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/italy-logo.png" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% elsif site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
